PORT=8080
ESCROW_SYNC_DELAY_MS=30000

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=prope
DB_USER=postgres
DB_PASS=

MONNIFY_API_KEY=monnify api key
MONNIFY_SECRET_KEY=monnify secret key
MONNIFY_CONTRACT_CODE=contract code
MONNIFY_BASE_URL=https://sandbox.monnify.com
MONNIFY_WALLET_ACCOUNT_NUMBER=monnify account number

REDIS_URL=redis://localhost:6379
